section#viewcart {margin: 5% 0;}
section#checkout {margin: 5% 0;}
section#address {margin: 5% 0;}
.panel-info>.panel-heading {
  color: #464646;
  background-color: #ffebc9;
  border-color: #ffebc9;
}
.panel-info {
  border-color: #ffecc9;
  margin: 5% 0;
}
.panel-contant {height: auto; min-height: 230px;}
.btn-more{
  color: #4e4e4e;
  background-color: #ffbd45;
  border-color: #ffcd72;
  font-size: 16px!important;
}
#address  .form-group {
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
#address .panel-body {
  padding: 0;
  margin-bottom: 6%;
}
#address .col-md-6.col-xs-12 {
  margin: 0.5% 0;
}
#address .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  -webkit-box-shadow: 3px 2px 0px rgba(0,0,0,.075);
  box-shadow: 3px 2px 0px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div#confirm {
    height: 50%;
    overflow: hidden;
}
div#confirm .container {
    margin: 8% auto;
}
div#confirm a.btn.btn-default.center-block.noborder.btn-conf {
    width: 30%;
}
.txt-tab {padding-left: 2%;}
h3.visible-xs.text-center {
    margin: 8% 0;
}
li.pass.disabled {
    background-color: #ffbd44;
    color: #a52141;
}
ul.nav-wizard li.pass:before {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #ffbd44;
    border-right: 0;
    top: -1px;
    z-index: 99;
    content: '';
    right: -15px;
}
.nav-wizard>li.disabled>a {
    color: #a52141;
}
@media screen and (max-width: 767px){
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: none;
}
section#viewcart {margin-top: 20%;}
section#checkout {margin-top: 20%;}
section#address {margin-top: 20%;}
.confirm {
    width: 75%;
    margin: 0 15%;
}
div.confirm p.text-center {
    font-size: 12px;
    line-height: 1.75em;
}
}
