body{
	font-family: 'Roboto', sans-serif;
}

header{
	height: 50px;
}

.navbar-inverse .navbar-nav li a.active{color: #000;font-weight: bold;}

#login-dp{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}


.slider {
	width: 100%;
	margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.Story{
	margin-top: 20px;
}


@media screen and (max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*service*/

.line-style{
	border-bottom: dashed #db0a5b 2px;
	margin: 10px auto 15px;
	width: 150px;
}


/*work*/

.filter-select{
	width: 100%;
	font-size: 14px;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 3px;
	outline-color: #db0a5b;
	margin-bottom: 15px;
}
.filter-wrapper{display: none;}
.filter-wrapper li a , .filter-wrapper li a:hover{ text-decoration: none; }
.activeFilter{
	font-weight: bold;
}
.activeFilter a{
	color: #aeaa8d;
}

@media screen and (min-width: 763px){
	
}

@media screen and (min-width: 802px){

	.filter-select{
		display: none;
	}

	.filter-wrapper{
		display: block;
		text-align: center;
		margin-bottom: 15px;
	}

	.filter-item{
		display: inline-block;
		list-style: none;
		border-radius: 3px;
		margin: 0 5px;
	}

	.filter-style{
		display: block;
		color: #999;
		padding: 8px;
	}

	.filter-style:hover{
		color: #000000;
		border-radius: 3px;
		text-decoration: none;
	}
}

@media screen and (min-width: 1024px){
	
}








